.div-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #28282A;
}


@media only screen and (max-width: 350px) {
    .project-container {
        margin-top: 100px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .mobile-desable {
        display: none;
    }

    .name-list {
        align-self: flex-end;
        order: 2;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-top: 16px;
    }

    .year-list {
        order: 1;
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
    } 
}

@media only screen and (min-width: 351px) and (max-width: 539px) {
    .project-container {
        margin-top: 120px;
        padding: 16px;
    }

    .mobile-desable {
        display: none;
    }

    .name-list {
        align-self: flex-end;
        order: 2;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 16px;
    }

    .year-list {
        order: 1;
        font-size: 20px;
        line-height: 24px;
        color: #28282A;
        margin-top: 21px;
    } 
}

@media only screen and (min-width: 540px) and (max-width: 600px) { 
    .project-container {
        margin-top: 120px;
        padding: 16px;
    }

    .mobile-desable {
        display: none;
    }

    .name-list {
        align-self: flex-end;
        order: 2;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 16px;
    }

    .year-list {
        order: 1;
        font-size: 20px;
        line-height: 24px;
        margin-top: 21px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 790px) { 
    .project-container {
        margin-top: 120px;
        padding: 24px;
    }

    .mobile-desable {
        display: none;
    }

    .name-list {
        align-self: flex-end;
        order: 2;
        font-weight: 600;
        font-size: 32px;
        line-height: 37px;
        margin-top: 24px;
    }

    .year-list {
        order: 1;
        font-size: 30px;
        line-height: 35px;
        margin-top: 21px;
    }
}

@media only screen and (min-width: 791px) and (max-width: 1025px)  {
    .project-container {
        margin-top: 120px;
        padding: 24px;
    }

    .mobile-desable {
        display: none;
    }

    .name-list {
        align-self: flex-end;
        order: 2;
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
        margin-top: 24px;
    }

    .year-list {
        order: 1;
        font-size: 32px;
        line-height: 37px;
        margin-top: 21px;
    }
}

@media only screen and (min-width: 1026px) and (max-width: 1900px) {
 
    .project-container {
        margin-top: 160px;
        padding-right: 32px;
        padding-left: 32px;
    }

    .div-list {
        padding-bottom: 24px;
        margin-top: 40px;
    }

    .display-project {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .project-font {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }
}