@media only screen and (max-width: 600px) {
    .project-container {
        margin-top: 120px;
        padding: 16px;
    }

    .div-list {
        display: flex;
        flex-direction: row;
    }

    .type-list {
        display: none;
    }

    .company-list {
        display: none;
    }

    .name-list {
        align-self: flex-end;
        order: 2;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #28282A;
        margin-top: 16px;
    }

    .year-list {
        order: 1;
        margin-right: 41px;
        font-size: 20px;
        line-height: 24px;
        color: #28282A;
        margin-top: 21px;
    } 
}

@media only screen and (min-width: 600px) and (max-width: 1366px)  {
    * {
        margin: 0px;
        padding: 0px;
    }

    .project-container {
        margin-top: 160px;
        padding-right: 32px;
        padding-left: 32px;
    }

    .div-list {
        display: flex;
        padding-bottom: 24px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;

    }

    .display-project {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .div-list>div>p {
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
        color: #28282A;
    }
}