@media only screen and (max-width: 600px) {

    .div-text {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 64px;
        padding-right: 30px;
    }
    .info-text {
        width: 246px;
        height: 288px;
        font-size: 20px;
        line-height: 24px;
        color: #28282A;
    }
    .div-text>p {
        width: 246px;
        font-size: 20px;
        line-height: 24px;
        color: #28282A;
        margin-top: 16px;
    }

    .div-text>p>a {
        color: #28282A;
        text-decoration: underline;
        font-size: 20px;
        line-height: 24px;
    }
}
