* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #28282A;
}

.div-text {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
}

.div-text>p>a {
    color: #28282A;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 350px) {
    .div-text {
        margin-top: 64px;
        padding-right: 24px;
    }

    .font-infor {
        width: 80%;
    }

    .font-size {
        font-size: 16px;
        line-height: 20px;
    }
    
    .div-text>p {
        margin-top: 16px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 539px) {

    .div-text {
        margin-top: 64px;
        padding-right: 30px;
    }

    .font-infor {
        width: 60%;
        
    }

    .font-size {
        font-size: 20px;
        line-height: 24px;
    }

    .div-text>p {
        margin-top: 16px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
    .div-text {
        margin-top: 64px;
        padding-right: 30px;
    }

    .font-infor {
        width: 60%;
    }
    .div-text>p {
        margin-top: 16px;
    }

    .font-size {
        font-size: 24px;
        line-height: 29px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 790px) {
    .div-text {
        margin-top: 80px;
        padding-right: 40px;
    }

    .font-infor {
        width: 60%;
    }
    .div-text>p {
        margin-top: 32px;
    }

    .font-size {
        font-size: 30px;
        line-height: 38px;
    }
}

@media only screen and (min-width: 791px) and (max-width: 1022px)  {
    .div-text {
        margin-top: 80px;
        padding-right: 40px;
    }

    .font-infor {
        width: 50%;
        color: #28282A;
    }
    .div-text>p {
        margin-top: 32px;
    }

    .font-size {
        font-size: 30px;
        line-height: 38px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1366px)  {
    .div-text {
        margin-top: 80px;
        padding-right: 60px;
    }

    .font-infor {
        width: 50%;
    }

    .font-size {
        font-size: 30px;
        line-height: 38px;
    }

    .div-text>p {
        margin-top: 32px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1900px) {

    .div-text {
        padding-top: 80px;
        padding-right: 156px;
    }

    .font-size {
        font-size: 24px;
        line-height: 32px;
    }

    .width-text {
        width: 515px;
    }

    .div-text>p {
        margin-top: 40px;
    }

    .div-text>p>a:hover {
        color: #FF003D;
    }
}
