 @media only screen and (max-width: 600px) {
   
    .title {
        font-style: normal;
        text-align: center;
        font-weight: 800;
        font-size: 64px;
        line-height: 76px;
        color: #28282A;
        font-family: -apple-system, system-ui, BlinkMacSystemFont;
        width: 100%;
    }

    .div-mobile {
        display: flex;
        justify-content: center;
    }

    .img-mobile {
        width: 100%;
    }

}

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #EDEAE4;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    color: #28282A;
}


@media only screen and (min-width: 600px) and (max-width: 1366px)  {
    .div-mobile{
        display: none;
    }


    .div-desktop-m {
        padding-left: 32px;
        padding-right: 32px;
    }

    .img-desktop-m {
        width: 100%;
    }

    .title {
        font-weight: 800;
        font-size:237px;
        line-height: 283px;
        text-align: center;
        color: #28282A;
        margin-top: 35px;
    }
}

