@media only screen and (max-width: 600px) {

    .menu-button {
        position: fixed;
        right: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 100px;
        box-shadow: 0 0 0 0 transparent, 0 0 0 transparent;
        transition: box-shadow 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }

    #check {
        display: none;
    }

    .menu-button:hover {
        box-shadow: 0 0 0 0px #000, 0 0 0 0px #000;
    }

    input:checked ~ label .menu-button {
        box-shadow: 0 0 0 130vw #000, 0 0 0 130vh #000;
        background-color: #000;
        overflow: hidden;
      }

      input:checked ~ label .change-svg {
        fill: #fff;
      }

      input:checked ~ label .change-svg {
        fill: #fff;
      }

    input:checked ~ ul {
        opacity: 1;
        display: block;
      } 

    ul {
        position: absolute;
        padding:16px;
        padding-top: 10px;
        display: none;
        list-style: none;
        font-size: 45px;
        opacity: 0;
        transition: 0.1s 0.1s cubic-bezier(0, -15.07, 0, -15.02);
        z-index: 2;
    }
    ul>li>a {
        font-size: 64px;
        line-height: 76px;
        color: #FFF;
    }

    .about-href {
        color: #FF003D;
    }

    .article-href {
        margin-left: 15%;
    }

    .contact-href {
        margin-left: 27%;
    }

    .name-small {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        left: 16px;
    }

    .name-big {
        color:#fff;
        margin-top: 32px;
        font-weight: 800;
        line-height: 78px;
        font-size: 56px;
        text-align: center;
    }
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

@media only screen and (min-width: 600px) and (max-width: 790px)  {
    .menu-button {
        position: fixed;
        right: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 100px;
        box-shadow: 0 0 0 0 transparent, 0 0 0 transparent;
        transition: box-shadow 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }

    #check {
        display: none;
    }

    .menu-button:hover {
        box-shadow: 0 0 0 0px #000, 0 0 0 0px #000;
    }

    input:checked ~ label .menu-button {
        box-shadow: 0 0 0 130vw #000, 0 0 0 130vh #000;
        background-color: #000;
        overflow: hidden;
      }

      input:checked ~ label .change-svg {
        fill: #fff;
      }

      input:checked ~ label .change-svg {
        fill: #fff;
      }

    input:checked ~ ul {
        opacity: 1;
        display: block;
      } 

    ul {
        position: absolute;
        padding:16px;
        padding-top: 10px;
        display: none;
        list-style: none;
        font-size: 45px;
        opacity: 0;
        transition: 0.1s 0.1s cubic-bezier(0, -15.07, 0, -15.02);
        z-index: 2;
    }
    ul>li>a {
        font-size: 64px;
        line-height: 76px;
        color: #FFF;
    }

    .about-href {
        color: #FF003D;
    }

    .article-href {
        margin-left: 15%;
    }

    .contact-href {
        margin-left: 27%;
    }

    .name-small {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        left: 16px;
    }

    .name-big {
        color:#fff;
        margin-top: 32px;
        font-weight: 800;
        line-height: 78px;
        font-size: 56px;
        text-align: center;
    }
}
@media only screen and (min-width: 791px) and (max-width: 1366px)  {
    .menu-button {
        position: fixed;
        right: 32px;
        cursor: pointer;
        outline: none;
        border-radius: 100px;
        box-shadow: 0 0 0 0 transparent, 0 0 0 transparent;
        transition: box-shadow 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }

    #check {
        display: none;
    }

    .change-size-svg {
        width: 40px;
        height: 40px;
    }

    .menu-button:hover {
        box-shadow: 0 0 0 0px #000, 0 0 0 0px #000;
    }

    input:checked ~ label .menu-button {
        box-shadow: 0 0 0 130vw #000, 0 0 0 130vh #000;
        background-color: #000;
        overflow: hidden;
      }

      input:checked ~ label .change-svg {
        fill: #fff;
      }

      input:checked ~ label .change-svg {
        fill: #fff;
      }

    input:checked ~ ul {
        opacity: 1;
        display: block;
      } 

    ul {
        position: absolute;
        padding:16px;
        padding-top: 10px;
        display: none;
        list-style: none;
        font-size: 45px;
        opacity: 0;
        transition: 0.1s 0.1s cubic-bezier(0, -15.07, 0, -15.02);
        z-index: 2;
    }
    ul>li>a {
        font-size: 64px;
        line-height: 76px;
        color: #FFF;
    }

    .about-href {
        color: #FF003D;
    }

    .article-href {
        margin-left: 15%;
    }

    .contact-href {
        margin-left: 27%;
    }

    .name-small {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        left: 16px;
    }

    .name-big {
        color:#fff;
        margin-top: 32px;
        font-weight: 800;
        line-height: 78px;
        font-size: 56px;
        text-align: center;
    }
    
}

@media only screen and (min-width: 1367px) and (max-width: 1900px) {
     .disable {
        display: none;
    }
}