.h2 {
    color: #28282A;
    border-bottom: 1px solid #28282A;
    padding-bottom: 16px;
}

@media only screen and (max-width: 350px) {
    .h2 {
        font-size: 48px;
        line-height: 67px;
    } 
}

@media only screen and (min-width: 351px) and (max-width: 539px) {

    .h2 {
        font-size: 56px;
        line-height: 67px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
    .h2 {
        font-size: 64px;
        line-height: 71px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
    .h2 {
        font-size: 72px;
        line-height: 77px;
    }
}

@media only screen and (min-width: 601px)  {
    
    .h2 {
        font-size: 88px;
        line-height: 105px;
    }
}

