@media only screen and (max-width: 480px) {
    * {
        margin: 0px;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img {
        width: 94%;
        margin-top: 24px;
        height: 144px;
        background: #F2F5FA;
        border-radius: 5px;
    }
    .font {
        font-family: Lato;
        font-style: normal;
        text-align: center;
    }
    .title {
        margin-top: 16px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
    }

    .card>p {
        margin-top: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #B0BEC5;
    }

    .card>div {
        margin-top: 16px;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }

    .card>a {
        margin-top: 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        color: #6563FF;

    }
}