.contact-p {
    color: #FFFFFF;
    font-weight: bold;
}

.contact-container {
    background: #F72557;
}

.form-contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

.form-contact>input {
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: 500;
    color:#fff
}

.form-contact>input::placeholder {
    color: #FF98B1;
    font-weight: 500;
}

.form-contact>button {
    outline: none;
    background-color: transparent;
    border: none;
}


@media only screen and (max-width: 350px) {
    .contact-container {
        height: 330px;
        margin-top: 64px;
        padding-top: 72px;
        padding-left: 26px;
    }

    .p-info {
        font-size: 40px;
        line-height: 57px;
    }

    .p-under-info {
        font-size: 20px;
        line-height: 25px;
        margin-top: 8px;
    }

    .form-contact {
        margin-top: 48px;
        width: 90%;
    }

    .form-contact>input {
        width: 70%;
        font-size: 16px;
        line-height: 20px;
    }

    .form-contact>input::placeholder {
        font-size: 16px;
        line-height: 20px;
    }

    .contact-svg {
        width: 16px;
        height: 16px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 600px) {
    .contact-container {
        height: 330px;
        margin-top: 64px;
        padding-top: 72px;
        padding-left: 26px;
    }

    .p-info {
        font-size: 48px;
        line-height: 57px;
    }

    .p-under-info {
        font-size: 24px;
        line-height: 29px;
        margin-top: 8px;
    }

    .form-contact {
        margin-top: 48px;
        width: 86%;
    }

    .form-contact>input {
        width: 70%;
        font-size: 20px;
        line-height: 24px;
    }

    .form-contact>input::placeholder {
        font-size: 20px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
    .contact-container {
        height: 430px;
        margin-top: 96px;
        padding-top: 72px;
        padding-left: 26px;
    }

    .p-info {
        font-size: 72px;
        line-height: 79px;
    }

    .p-under-info {
        font-size: 32px;
        line-height: 36px;
        margin-top: 8px;
    }

    .form-contact {
        margin-top: 72px;
        width: 90%;
    }

    .form-contact>input {
        width: 80%;
        font-size: 32px;
        line-height: 36px;
    }

    .form-contact>input::placeholder {
        font-size: 32px;
        line-height: 36px;
    }

    .contact-svg {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 790px) {
    .contact-container {
        height: 650px;
        margin-top: 96px;
        padding-top: 72px;
        padding-left: 26px;
    }

    .p-info {
        font-size: 102px;
        line-height: 108px;
    }

    .p-under-info {
        font-size: 56px;
        line-height: 62px;
        margin-top: 24px;
    }

    .form-contact {
        margin-top: 96px;
        width: 90%;
    }

    .form-contact>input {
        width: 90%;
        font-size: 56px;
        line-height: 62px;
    }

    .form-contact>input::placeholder {
        font-size: 56px;
        line-height: 62px;
    }

    .contact-svg {
        width: 38px;
        height: 38px;
    }
}

@media only screen and (min-width: 791px) and (max-width: 1025px)  {
    .contact-container {
        height: 750px;
        margin-top: 96px;
        padding-top: 82px;
        padding-left: 56px;
    }

    .p-info {
        font-size: 120px;
        line-height: 128px;
    }

    .p-under-info {
        font-size: 64px;
        line-height: 70px;
        margin-top: 32px;
    }

    .form-contact {
        margin-top: 120px;
        width: 90%;
    }

    .form-contact>input {
        width: 90%;
        font-size: 56px;
        line-height: 62px;
    }

    .form-contact>input::placeholder {
        font-size: 56px;
        line-height: 62px;
    }

    .contact-svg {
        width: 38px;
        height: 38px;
    }
}

@media only screen and (min-width: 1026px) {

    .contact-container {
        height: 775px;
        margin-top: 160px;
        padding-top: 96px;
        padding-left: 156px;
        scroll-padding: 1px;;
    }

    ::-webkit-scrollbar {
        width:5px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background:#333;
    }

    .p-info {
        font-size: 128px;
        line-height: 153px;
    }

    .wrap{
        display: none;
    }

    .p-under-info {
        font-size: 48px;
        line-height: 57px;
        margin-top: 8px;

    }

    .form-contact {
        margin-top: 157px;
        width: 90%;
    }

    .form-contact>input {
        width: 90%;
        font-size: 80px;
    }

    .form-contact>input::placeholder {
        font-size: 80px;
    }

    .form-contact>button {
        height: 45px;
    }

    .contact-svg {
        width: 56px;
        height: 56px;
    }
   
}