* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    color: #28282A;
}


@media only screen and (max-width: 600px) {

    .mobile-disable{
        display:none;
    }

    .p-name {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
    }

    .inline {
        display: inline-block
    }

    .container {
        padding: 16px;
        margin-top: 16px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 790px)  {
    .mobile-disable{
        display:none;
    }

    .p-name {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }

    .container {
        padding: 16px;
        margin-top: 16px;
    }
}

@media only screen and (min-width: 791px) and (max-width: 1022px)  {

    .container {
        padding: 32PX;
        padding-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .font {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1366px)  {

    .container {
        padding: 32PX;
        padding-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile-disable{
        display: none;

    }

    .font {
        font-weight: 600;
        font-size: 32px;
        line-height: 37px;
    }
}

@media only screen and (min-width: 1367px) {

    .container {
        padding: 32px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .font {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    .links>a {
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: #28282A;
    }

    .location {
        text-align: right;
    }
   
}
